@media (max-width: 991px) {
    /* carouse section  */
    .carousel_img{
        margin-top: 24px;
    }

    .carousel_img img{
        height: 106px;
        border-radius: 15px;
    }

    .caption_top{
        display: none;
    }

    .caption_bottom{
        left: 12px;
        bottom: 12px;
    }
    
    .caption_bottom h5{
        font-size: 20px;
        line-height: 1.3;
    }
    

    /* gdp section  */
    .gdp{
        padding: 40px 0;
    }

    .gdp_icon{
        padding: 25px 16px 25px 20px;
    }

    .gdp_box_bottom{
        margin-top: 20px;
    }

    .gdp_det{
        padding: 20px 0;
    }

    .gdp .owl-theme .owl-dots{
        display: none !important;
    }

    /*-- weather reports  --*/
    .weather{
        padding: 40px 0;
    }

    .w_degree_p{
        display: none;
    }

    .w_det .per img{
        display: none;
    }

    .weather_all_details_left{
        border-right: none;
    }
    
    .w_det .per h3{
        display: none;
    }

    .w_degree{
        width: 75%;;
    }

    .w_report_box{
        padding: 20px;
        margin-top: 20px;
    }

    .w_degree img{
        width: 32px;
    }

    /* collabse */
    .weather_all_details{
        padding: 20px 20px 0px 20px;
    }

    .weather_all_details_box{
        margin-top: 10px;
    }

    .weather_all_details_box li{
        padding: 16px 0;
    }

    .weather_all_details_box li p{
        font-size: 16px;
    }
    
    .weather_all_details_box li h5{
        font-size: 16px;
    }

    /* explore map segment  */
    .explore{
        padding: 40px 0;
    }
    
    .explore_box{
        margin-top: 16px;
    }

    .explore_det_left{
        padding: 20px;
    }

    .explore_det_left ul{
        height: 35vh;
        margin-top: 12px;
        border-radius: 0px;
    }

    .explore_det_left ul li i{
        font-size: 1.8rem;
        margin-right: 12px;
    }

    .list_details h3{
        font-size: 14px;
    }

    .list_details p{
        font-size: 12px;
    }

    .explore_det iframe{
        height: 45vh;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
    }

    /* looking for event */
    .event{
        padding: 40px 0;
    }

    .event_lap{
        display: none !important;
    }

    .event_mobile{
        display: block !important;
    }

    .event_box .event_det img{
        height: auto;
    }

    .event_title{
        margin-top: 16px;
    }

    .event_title h2{
        margin-bottom: 8px;
    }

    .event_bod h4{
        font-size: 14px;
    }
    
    .event_bod p{
        font-size: 14px;
    }

    .event_btn{
        margin-top: 30px;
    }
    
    .event_btn a{
        padding: 12px 33px;
        font-size: 16px;
        color: #fff;
        border-radius: 20px;
    }

    /*gallery section*/
    .gallery{
        padding-bottom: 40px;
    }

    .popup-gallery img{
        height: 30vh;
        margin: 15px 0;
        border-radius: 20px;
    }

    /* weather data table  */
    .weather2_report::-webkit-scrollbar {
        height: 5px;
        /* display: none; */
    }

    .weather2_table thead th{
        font-size: 14px;
        padding: 16px 10px;
        letter-spacing: 1px;
    }

    .weather2_table tbody td{
        font-size: 14px;
        padding: 16px 12px;
    }



}